Persona/PersonaApp/PersonaApp/Connected Services/ServiceReference2/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Capa_Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Capa_Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfE_Persona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="E_Persona" nillable="true" type="tns:E_Persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfE_Persona" nillable="true" type="tns:ArrayOfE_Persona" />
  <xs:complexType name="E_Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombres" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="E_Persona" nillable="true" type="tns:E_Persona" />
  <xs:complexType name="E_Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="E_Respuesta" nillable="true" type="tns:E_Respuesta" />
</xs:schema>